* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  color: #29292e;
}

img {
  display: block;
  max-width: 100%;
}

#logo {
  font-size: 30px;
  padding: 5px 0;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #161616;
  color: white;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.menu li {
  padding: 5px 7px;
}

ul {
  list-style: none;
}

#btn-mobile {
  display: none;
}

section {
  padding: 60px 20px;
  max-width: 1060px;
  margin: 0 auto;
}

section h1 {
  margin-bottom: 20px;
  font-size: 3em;
  max-width: 960px;
}

section p {
  color: #747474;
  max-width: 960px;
}

.introducao {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 70vh; /*serve para centralizar o conteúdo no centro, já que ele ocupa pouco espaço*/
}

.introducao article {
  flex: 1;
  margin-right: 10px;
}

.introducao-img {
  flex: 1;
}

.introducao h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.introducao h2 {
  margin-bottom: 10px;
  text-decoration: 1px underline;
}

.introducao p {
  margin-bottom: 10px;
}

.introducao ul {
  list-style-image: url("../check.png");
  list-style-position: inside;
}

.introducao li {
  line-height: 2;
  padding-left: 5px;
}

.contato {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 70vh;
}

.contato article {
  margin-right: 40px;
}

.contato-img {
  flex: 1;
}

.contato li {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  margin-bottom: 10px;
}

.contato li img {
  margin-right: 20px;
}

.contato li:nth-child(2) img {
  width: 20px;
}

.contato a {
  color: rgb(81, 81, 194);
  text-decoration: none;
}

.formacao {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 70vh;
}

.formacao article {
  flex: 1;
}

.formacao-span {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.formacao-span img {
  max-width: 32px;
  display: inline;
  margin-right: 20px;
}

.formacao-img {
  max-width: 600px;
}

.projetos article {
  display: flex;
  flex-wrap: wrap;
}

.projetos a {
  text-decoration: none;
}

.projetos-itens {
  flex: 1 1 220px;
  border-radius: 8px;
  background-color: #f7f7f7;
  padding: 10px;
  text-align: center;
  margin: 20px;
  align-self: center;
  transition: 0.4s;
}

.projetos-itens:hover {
  box-shadow: 1px 1px 10px rgba(134, 134, 134, 0.295);
}

.projetos-itens img {
  max-width: 180px;
  margin: 0 auto;
}

.projetos-itens span {
  display: block;
  margin: 10px 0;
  padding: 10px 0;
  border-top: 1px solid rgb(161, 161, 161);
  border-bottom: 1px solid rgb(161, 161, 161);
}

.btn {
  display: inline-block;
  color: white;
  background-image: radial-gradient(100% 100% at 100% 0%, #5151c2, #5468ff);
  border: 0;
  border-radius: 5px;
  padding: 5px;
}

.btn:hover {
  filter: brightness(1.2);
}

.container-btn {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .introducao,
  .contato {
    display: block;
  }

  #logo {
    font-size: 26px;
  }

  section {
    padding: 40px 10px;
  }

  .introducao article {
    margin-bottom: 40px;
  }

  .contato article {
    margin-right: 0px;
    margin-bottom: 40px;
  }

  .btn {
    padding: 10px;
  }

  .formacao {
    display: block;
  }

  .menu {
    background-color: #161616;
    display: block;
    position: absolute;
    width: 100%;
    top: 51px;
    right: 0px;
    transition: 0.6s;
    z-index: 1000; /*serve para garantir que o menu vai ficar acima de todoso os elementos do site.*/
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }

  .menu li {
    padding: 1rem 0px;
    margin: 0 10px;
  }

  #nav.active .menu {
    height: 100vh;
    visibility: visible;
    overflow-y: auto;
  }

  .menu li {
    border-bottom: 1px solid #d4d4d449;
  }

  #btn-mobile {
    display: block;
    padding: 10px;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
  }

  #hamburguer {
    display: block;
    border-top: 2px solid white;
    width: 20px;
  }

  #hamburguer::after, #hamburguer::before {
    content: ""; /*after e before só aparece se tiver um content*/
    display: block; /*só aceita height e width se for um elemento de bloco*/
    width: 20px;
    height: 2px;
    background-color: currentColor; /* currentColor pega a cor que estiver no hamburguer*/
    margin-top: 3px;
    transition: .4s;
    position: relative;
  }

  #nav.active #hamburguer {
    border-top-color: transparent;
  }

  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -5px; /*top só funciona se o elemento for position: absolute, relative ou fixed*/
  }
}
