.introducao {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 70vh; /*serve para centralizar o conteúdo no centro, já que ele ocupa pouco espaço*/

	article {
		flex: 1;
		margin-right: 10px;
	}

	h1 {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	h2 {
		margin-bottom: 10px;
		text-decoration: 1px underline;
	}

	details {
		margin: 10px 0;
		summary {
			cursor: pointer;
		}
	}
	.knowledge-item {
		display: flex;
		margin: 10px 0;
		img {
			width: 15px;
			height: 15px;
			margin-right: 10px;
			align-self: center;
		}
		p {
			color: rgb(81, 81, 194);
		}
	}
}

.introducao-img {
	flex: 1;
}

.knowledge-wrapper {
	margin: 10px;
	&.active-know-div {
		span {
			&::after {
				content: url("../../public/images/icons8-backhand-index-pointing-up-16.png");

			}
		}
	}
	span {
		cursor: pointer;
		&::after {
			content: url("../../public/images/icons8-backhand-index-pointing-down-16.png");
			width: 10px;
			height: 10px;
			display: inline-block;
			margin-left: 10px;
		}
	}

	.knowledge-itens {
		display: none;
	}

	.active-know-div {
		display: block;
		animation: showKnowDiv 0.5s forwards;
	}
}

@keyframes showKnowDiv {
	from {
		opacity: 0;
		transform: translate3d(-20px, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
