.projetos {
  article {
    display: flex;
    flex-wrap: wrap;
  }

  a {
    text-decoration: none;
  }
}

.btn {
  display: inline-block;
  color: white;
  background-image: radial-gradient(100% 100% at 100% 0%, #5151c2, #5468ff);
  border: 0;
  border-radius: 5px;
  padding: 5px;

  &:hover {
    filter: brightness(1.2);
  }
}

.container-btn {
  display: flex;
  justify-content: space-around;
}
