.projetos {
  article {
    display: flex;
    flex-wrap: wrap;
  }

  a {
    text-decoration: none;
  }
}

.projetos-itens {
  flex: 1 1 220px;
  border-radius: 8px;
  background-color: #f7f7f7;
  padding: 10px;
  text-align: center;
  margin: 20px;
  align-self: center;
  transition: 0.4s;

  &:hover {
    box-shadow: 1px 1px 10px rgba(134, 134, 134, 0.295);
  }

  img {
    max-width: 180px;
    margin: 0 auto;
  }

  span {
    display: block;
    margin: 10px 0;
    padding: 10px 0;
    border-top: 1px solid rgb(161, 161, 161);
    border-bottom: 1px solid rgb(161, 161, 161);
  }
}

.btn {
  display: inline-block;
  color: white;
  background-image: radial-gradient(100% 100% at 100% 0%, #5151c2, #5468ff);
  border: 0;
  border-radius: 5px;
  padding: 5px;

  &:hover {
    filter: brightness(1.2);
  }
}

.container-btn {
  display: flex;
  justify-content: space-around;
}
